@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* BODY */
#content{
  background: #FFFAFA;
}

body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}

/* HEADER */
header{
  width: 100%;
  height: 66px;
}

header ul, ol, li{
  list-style: none;
}

header .containerNav {
  margin: auto;
  width: 100%;
}

header .navbar {
  opacity: 1;
  background-color: #151414;

  position: fixed;

  z-index: 100;
  height: 66px;
  overflow: hidden;
  margin: auto;
  width: 100%;
  left:0;
  top:0;
}

header .navbar li.logo,
header .navbar li.navbar_items {
  list-style-type: none;
  display: inline-block;
}

header .navbar li a {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 400;  
  color: white;
  display: inline-block;
  text-align: center;
  padding: 17px 26px;
  text-decoration: none;
}

/**/
.activeNav {
	border-bottom-style: solid; 
	border-bottom-color: purple;
}
/**/

header .navbar li.navbar_items a:hover {
  border-bottom-style: solid;
  border-bottom-color: #116466;
}

header .navbar li.icon {
  display: none;
}

header .div_navbar_items {
  float: right;
  padding-right:1%;

}

header .intro{
  position: relative;
  top: 100px;
  text-align:center;
}

header p {
  color:black;
  font-size: 17px;
  font-family: Source Sans Pro;
}

/* ----------------------- */

@media screen and (max-width:875px) {
  header .navbar li.navbar_items {
    display: none;
  }
  header .navbar li.icon {
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1px;
  }
}

@media screen and (max-width:875px) {
  header .navbar.responsive {
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: #151414;
    transition: background-color .6s;
    z-index: 1000;
  }

  header .navbar.responsive li.logo {
    floatL: left;
    display: block;
  }
  header .navbar.responsive .div_navbar_items {
    float: none;
    padding-right:0;
  }

  header .navbar.responsive li.navbar_items {
    display: block;
    padding: 5px;
    font-size: 25px;
  }
  header .navbar.responsive li.navbar_items a {
    display: block;
    text-align: center;
  }

  header .navbar.responsive li.navbar_items a:hover{
    color:#116466;
    border-bottom-color: transparent;

  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #2d3436;
}

::-webkit-scrollbar-thumb {
  background: #636e72;
  border-radius: 8px;
}

/* FOOTER */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	position: relative;
	z-index: 100000;
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #116466;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
