@charset "UTF-8";

#content{
  width: 100%;
  background-image: url('../images/contact/contactBck.jpg');
  background-size: cover;
  padding-bottom: 50px;
}

.contactBk{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#content h1{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 35px;
  padding-top: 80px;
}

.biotForm{
  width: 750px;
  margin: 40px auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  position: relative;
}

#content input{
  width: 400px;
}

#content input, textarea{
  background: transparent;
  border: none;
  border-bottom: 2px solid #CD5C5C;
  padding: 20px;
  color: #FFF;
  font-size: 20px;
}

#content .biotForm button{
  width: 40%;
  height: 60px;
  background-color: #CD5C5C;
  border: none;
  color: #ccc;
  font-size: 20px;
  margin: 40px 0 0 195px;

}

@media (max-width: 800px){
  .biotForm{
    width: 300px;
    padding: 30px;
    position: relative;
  }

  #content input, textarea{
    width: 230px;
    margin-left: 10px;
  }

  #content .biotForm button{
    margin: 40px 0 0 95px;
  }
}
