@charset "UTF-8";

#slider {
   width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 600px;
   color: #fff;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
#slides .slide h2 {
   font-size: 45px;
   text-shadow: 2px 2px 1px #0a0e27, 5px 3px 1px #0a0e27;
   color: #fff;
}
#slides .slide p {
   font-size: 30px;
   text-shadow: 3px 3px 3px #000;
   color: #fff;
}
#slides .slide_1 {
   background-image: url('../images/mainBanner/car.jpg');
}
#slides .slide_2 {
  background-image: url('../images/mainBanner/office4.jpg');
}
#slides .slide_3 {
  background-image: url('../images/mainBanner/bot.jpg');
}
#slides .slide_4 {
  background-image: url('../images/mainBanner/web.jpg');
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .8;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url('../images/mainBanner/next.svg') no-repeat;
   float:right;
   display: block;
   margin: -160px 50px 0 0;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2){
   background: url('../images/mainBanner/next.svg') no-repeat;
   transform: rotate(180deg);
   float:left;
   margin: -160px 0 0 50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 1000px) {
  #slides {
     padding: 0px;
     border: none;
     background: #fff;
     position: relative;
     z-index: 1;
  }

   #slides .slide h2 {
     padding: 0 100px 0;
      font-size: 60px;
      text-shadow: 2px 2px 0 #0a0e27, 5px 3px 0 #0a0e27;
      display: none;
   }

   #slides .slide p {
     padding: 0 45px 0;
      font-size: 30px;
      text-shadow: 3px 3px 3px #000;
   }

   #controls label {
      transition: opacity 0.2s ease-out;
      display: none;
      width: 30px;
      height: 30px;
      opacity: .8;
   }

   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1) {
      background: url('../images/mainBanner/next.svg') no-repeat;
      float:right;
      display: block;
      margin: -160px 8px 0 0;
   }
   #slide1:checked ~ #controls label:nth-last-child(1),
   #slide2:checked ~ #controls label:nth-last-child(4),
   #slide3:checked ~ #controls label:nth-last-child(3),
   #slide4:checked ~ #controls label:nth-last-child(2){
      background: url('../images/mainBanner/next.svg') no-repeat;
      transform: rotate(180deg);
      float:left;
      margin: -160px 0 0 8px;
      display: block;
   }
}
