@charset "UTF-8";

.slider{
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  position: relative;
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: 2s;
}

.slide.s1{
  background-image: url('../images/mainBanner/car.jpg');
}

.slide.s2{
  background-image: url('../images/mainBanner/office4.jpg');
}

.slide.s3{
  background-image: url('../images/mainBanner/bot.jpg');
}

.slide.s4{
  background-image: url('../images/mainBanner/web.jpg');
}

.gradiente{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(180deg, #000 1%, transparent 30%), linear-gradient(0deg, #FFFAFA 1%, transparent 30%);
}

.txt{
  position: absolute;
  top: 210px;
  left: calc(50% - 50vh);
  width: 100vh;
  height: auto;
  display: flex;
}

.txt h2{
  color: #fff;
  font-size: calc(1.2em + 1vw);
  text-align: center;
  text-shadow: 2px 2px #333333;
}

/*css for manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #116466;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #116466;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #116466;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #116466;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #116466;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #116466;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #116466;
}

@media (max-width: 1000px){
  .txt{
    position: absolute;
    top: 210px;
    left: calc(50% - 19vh);
    width: 38vh;
    height: auto;
    display: flex;
  }
}

.cLeft, .cRight{
  position: absolute;
  cursor: pointer;
  color: #fff;
  border-radius: 12px;
  background: #116466;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 225px;
  z-index: 1000;
  line-height: 45px;

  float: left;
}

.cLeft{
  left: 30px;
  margin-left: 100px;
}

.cRight{
  right: 30px;
  margin-right: 100px;
}

@media (max-width: 1000px){

  .cLeft, .cRight{
    position: absolute;
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
    background: #116466;
    border: none;
    /* border: 2px solid #fff; */
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 450px;
    z-index: 1000;
    line-height: 35px;
    font-size: 15px;

    float: left;
  }

  .cLeft{
    /* left: 30px; */
    margin-left: 5px;
  }

  .cRight{
    /* right: 30px; */
    margin-right: 5px;
  }

}
